body, html { font-size: 100%; 	padding: 0; margin: 0;}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-image: url("../images/top002.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #FFF;
	min-height: 800px;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #fff;
}